<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<p style="margin-top: 40px"></p>
<div *ngFor="let a of crews">
    <div class="bulletsBlock" (click) = "editCrew(a)" style="width: 100%; margin-left: 35%; margin-top: 40px">
        <div class="bullet-item">
            <span class="iconBullet fa fa-cog"></span>
            <p class="titleBullet">number:     {{a.id}}</p>
            <p class="hideText">Click for more info<br></p>
        </div>
    </div>
    <button class = "btn btn-sm btn-danger" (click)="delete(a.id)" style="width: 30%; margin-left: 35%">Remove</button>
</div>