<div class='nav'>
  <ul>
    <li><a href='http://localhost:4200/aviators'>Aviators</a></li>
    <li><a href='http://localhost:4200/crews'>Crews</a></li>
    <li><a href='http://localhost:4200/departures'>Departures</a></li>
    <li><a href='http://localhost:4200/flights'>Flights</a></li>
    <li><a href='http://localhost:4200/planes'>Planes</a></li>
    <li><a href='http://localhost:4200/stewardesses'>Stewardesses</a></li>
    <li><a href='http://localhost:4200/tickets'>Tickets</a></li>
    <li><a href='http://localhost:4200/typesplane'>Type of plane</a></li>
    <li class='lamp'><span></span></li>
  </ul>
</div>

<router-outlet></router-outlet>