<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <div class="row">
        <table class = "col-md-10">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthdate</th>
                    <th>Experience</th>
                </tr>
            </thead>
            <tbody>
              <td>{{ aviator.id }}</td>
              <td>{{ aviator.name }}</td>
              <td>{{ aviator.surname }}</td>
              <td>{{ aviator.dateOfBirthday }}</td>
              <td>{{ aviator.experience }}</td>
            </tbody>
        </table>
        <td>
                <input type="text" placeholder="name" [(ngModel)]="aviator.name" class="form-control" />
            </td>
            <td>
                <input type="text" placeholder="surname" [(ngModel)]="aviator.surname" class="form-control" />
            </td>
            <button class="btn btn-sm btn-warning" (click)="editAviator(this.aviator)">Edit</button>
            <td>
        </td>
    </div>
</div>

<button (click) = "onClick()">To list</button>